<footer>
  <nav>
    <h3>Tienda</h3>
    <ul>
      <li>Productos</li>
      <li>Cajoneras</li>
      <li>Para toda la casa</li>
      <li>Habitaciones</li>
    </ul>
  </nav>
  <nav>
    <h3>Nosotros</h3>
    <ul>
      <li>Nuestra Guía</li>
      <li>Nuestro diseño</li>
      <li>Nuestra historia</li>
      <li>Ayuda</li>
    </ul>
  </nav>
  <nav>
    <h3>Contacto</h3>
    <ul>
      <li>ayuda@openspaces.com</li>
      <li>Socios</li>
    </ul>
    <ul>
      <li><i class="fa-brands fa-linkedin-in"></i></li>
      <li><i class="fa-brands fa-instagram"></i></li>
      <li><i class="fa-brands fa-twitter"></i></li>
    </ul>
    <button><i class="fa-solid fa-arrow-up"></i></button>
  </nav>
</footer>
