<footer class="footer">
  <nav class="menu2">
    <h3 class="menu2__title">Tienda</h3>
    <ul class="menu2__list">
      <li>
        <a href="https://adalab.es" target="_blank">Productos</a>
      </li>
      <li>
        <a href="https://adalab.es" target="_blank">Cajoneras</a>
      </li>
      <li>
        <a href="https://adalab.es" target="_blank">Para toda la casa</a>
      </li>
      <li>
        <a href="https://adalab.es" target="_blank">Habitaciones</a>
      </li>
    </ul>
  </nav>
  <nav class="menu2">
    <h3 class="menu2__title">Nosotros</h3>
    <ul class="menu2__list">
      <li>
        <a href="https://adalab.es" target="_blank">Nuestra Guía</a>
      </li>
      <li>
        <a href="https://adalab.es" target="_blank">Nuestro diseño</a>
      </li>
      <li>
        <a href="https://adalab.es" target="_blank">Nuestra historia</a>
      </li>
      <li>
        <a href="https://adalab.es" target="_blank">Ayuda</a>
      </li>
    </ul>
  </nav>
  <nav class="menu2">
    <h3 class="menu2__title">Contacto</h3>
    <ul class="menu2__list">
      <li><a href="mailto:ayuda@openspaces.com">ayuda@openspaces.com</a></li>
      <li><a href="https://adalab.es" target="_blank">Socios</a></li>
      <li>
        <div class="div">
          <a href="https://adalab.es" target="_blank" class="div__rrss">
            <i class="fa-brands fa-linkedin-in div__rrss--icon"></i
          ></a>
          <a href="https://adalab.es" target="_blank" class="div__rrss">
            <i class="fa-brands fa-instagram div__rrss--icon"></i
          ></a>
          <a href="https://adalab.es" target="_blank" class="div__rrss">
            <i class="fa-brands fa-twitter div__rrss--icon"></i
          ></a>
        </div>
      </li>
    </ul>
  </nav>
  <div class="button">
    <a href="#openspaces" class="button__arrow"
      ><i class="fa-solid fa-arrow-up button__arrow--effect"></i
    ></a>
  </div>
</footer>
