<footer class="footer">
  <nav class="menu2">
    <h3 class="menu2__title">Tienda</h3>
    <ul class="menu2__list">
      <li>Productos</li>
      <li>Cajoneras</li>
      <li>Para toda la casa</li>
      <li>Habitaciones</li>
    </ul>
  </nav>
  <nav class="menu2">
    <h3 class="menu2__title">Nosotros</h3>
    <ul class="menu2__list">
      <li>Nuestra Guía</li>
      <li>Nuestro diseño</li>
      <li>Nuestra historia</li>
      <li>Ayuda</li>
    </ul>
  </nav>
  <nav class="menu2">
    <h3 class="menu2__title">Contacto</h3>
    <ul class="menu2__list">
      <li>ayuda@openspaces.com</li>
      <li>Socios</li>
      <li>
        <div class="div-rrss">
          <a href="https://adalab.es" target="_blanck">
            <i class="fa-brands fa-linkedin-in"></i
          ></a>
          <a href="https://adalab.es" target="_blanck">
            <i class="fa-brands fa-instagram"></i
          ></a>
          <a href="https://adalab.es" target="_blanck">
            <i class="fa-brands fa-twitter"></i
          ></a>
        </div>
      </li>
    </ul>

    <button><i class="fa-solid fa-arrow-up"></i></button>
  </nav>
</footer>
