<header class="header" id="openspaces">
  <nav class="menu">
    <label for="check" class="bar-btn">
      <i class="fa-solid fa-bars"></i>
    </label>
    <input type="checkbox" name="checkbox" id="check" class="toggle" />
    <!-- <a class="menu__link" href="https://adalab.es" target="_blank"></a> -->
    <ul class="menu__list">
      <li class="menu__list--li">
        <a class="resources" href="#">Productos</a>
      </li>
      <li class="menu__list--li">
        <a class="resources" href="#">Colecciones</a>
      </li>
      <li class="menu__list--li"><a href="#" class="resources">Tienda</a></li>
      <li class="menu__list--li"><a href="#" class="resources">Inicio</a></li>
    </ul>
  </nav>
  <img
    class="header__logo"
    src="./assets/images/logo-open-spaces.png"
    alt="Imagen del Logo Open Spaces"
    title="Open Spaces"
  />
  <h1 class="header__title">Disfruta creando espacios</h1>
  <button class="header__buy-now">Comprar ahora</button>
</header>
