<main>
  <section class="section1">
    <h2 class="section1__title1">
      Volverse organizado se siente mejor con
      <strong class="section1__title1--mayus">Open spaces</strong>
    </h2>
    <include
      src="./components/article.html"
      title="Lo que necesitas"
      image="picture1.png"
      alt="Dibujo muebles multiusos"
      text="Una linea de productos diseñados para todos tus espacios"
    ></include>

    <include
      src="./components/article.html"
      title="Materias primas sustentables"
      image="picture2.png"
      alt="Dibujo
      materiales biodegradables"
      text="Todos los productos con materias primas
      sustentables"
    >
    </include>

    <include
      src="./components/article.html"
      title="Guía"
      image="picture3.png"
      alt="Dibujo mapa de ayuda"
      text="Soporte y asesoramiento para ayudarte con tu objetivo"
    >
    </include>
  </section>

  <section class="section2">
    <img
      class="section2__image"
      src="./assets/images/delivery.png"
      alt="Dibujo de furgoneta de transporte"
    />
    <div class="section2__div">
      <h2 class="section2__div--title">Envío gratis garantizado</h2>
      <p class="section2__div--text">Envío gratis en compras desde 100</p>
    </div>

    <a class="section2__link" href="https://adalab.es" target="_blank"
      >Comprar ahora</a
    >
  </section>
  <section class="section3">
    <h2 class="section3__title">Disfruta creando espacios</h2>

    <p class="section3__text">
      Una linea de productos diseñados para todos tus espacios
    </p>
    <button class="buy-now2">Comprar ahora</button>
  </section>
</main>
