<main>
  <section>
    <h2>Volverse organizado se siente mejor con open spaces</h2>
    <include
      src="./components/article.html"
      title="Lo que necesitas"
      image="picture1.png"
      alt="Dibujo muebles multiusos"
      text="Una linea de productos diseñados para todos tus espacios"
    ></include>

    <include
      src="./components/article.html"
      title="Materias primas sustentables"
      image="picture2.png"
      alt="Dibujo
      materiales biodegradables"
      text="Todos los productos con materias primas
      sustentables"
    >
    </include>

    <include
      src="./components/article.html"
      title="Guía"
      image="picture3.png"
      alt="Dibujo mapa de ayuda"
      text="Soporte y asesoramiento para ayudarte con tu objetivo"
    >
    </include>
  </section>

  <section>
    <include
      src="./components/section-main.html"
      titlesection="Envío gratis garantizado"
      imagesection="delivery.png"
      altimagesection="Dibujo de furgoneta de transporte"
      linksection="Compra ahora"
      descriptsection="Envío gratis en compras desde 100"
    ></include>
  </section>

  <section>
    <include
      src="./components/section-main.html"
      titlesection="Disfruta creando espacios"
      imagesection="main-photo.jpg"
      altimagesection="Imagen decoracion baños Open Spaces"
      linksection="Comprar ahora"
      descriptsection="Una linea de productos diseñados para todos tus espacios"
    ></include>
  </section>
</main>
