.section1 {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 25%, 25%, 25%, 25%;
  background-color: $color-light-grey;
  font-family: $font-text;
  color: $color-green;
  text-align: center;

  &__title1 {
    max-width: 400px;
    margin-top: 41px;
    font-size: 24px;
    font-weight: 600;
  }
}

.section1__article {
  display: flex;
  align-items: center;
  text-align: center;

  &--title {
    font-size: 20px;
  }
  &--picture {
    width: 90px;
    height: 90px;
  }
}

.section2 {
  background-color: $color-orange;
  font-family: $font-text;
  color: $color-green;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  &__title {
    font-size: 24px;
  }
  &__image {
    width: 120px;
    height: 120px;
  }
}
.section3 {
  background-color: $color-light-grey;
  font-family: $font-text;
  color: $color-green;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  &__title {
    font-size: 24px;
  }
}

.section3__image {
  width: 300px;
}
