.section1 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: fit-content(20%) 1fr 1fr 1fr;
  row-gap: 14px;
  background-color: $color-light-grey;
  font-family: $Poppins;
  color: $color-green;
  text-align: center;
  align-items: center;
  justify-content: center;

  &__title1 {
    margin: 41px 47px 0 45px;
    font-size: 1.5rem;
    font-weight: $semibold;

    &--mayus {
      text-transform: uppercase;
    }
  }
}

.article {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  text-align: center;

  &__div {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: 23px;

    &--title {
      font-size: 1.25rem;
      font-weight: $semibold;
      margin: 6px;
    }
    &--text {
      font-size: 1rem;
      font-weight: $regular;
      margin: 6px;
    }
  }

  &__picture {
    width: 90px;
    margin: 23px;
  }
}

.section2 {
  padding: 46px 0 51px 0;
  background-color: $color-orange;
  font-family: $Poppins;
  color: $color-white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;

  &__image {
    width: 120px;
    height: 120px;
  }
  &__div {
    display: flex;
    flex-direction: column;
    &--title {
      font-size: 1.25rem;
      font-weight: $semibold;
      margin: 10px;
    }
    &--text {
      font-size: 0.875rem;
      font-weight: $regular;
      margin: 5px;
    }
  }

  &__link {
    font-size: 1rem;
    font-weight: $semibold;
    color: $color-white;
    padding: 12px 24px;
  }
}

.section3 {
  height: 100vh;
  background-color: $color-light-grey;
  background-image: url("../images/main-photo.jpg");
  background-repeat: no-repeat;
  background-size: 190%;
  background-position: bottom center;
  font-family: $Poppins;
  color: $color-green;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  text-align: center;

  &__title {
    font-size: 1.5rem;
    font-weight: $semibold;
    margin: 87px 0 5px 0;
  }
  &__text {
    font-size: 0.875rem;
    font-weight: $regular;
    margin: 5px 0 23px 0;
  }
}

.buy-now2 {
  width: 176px;
  height: 48px;
  margin-bottom: 92px;
  font-size: 1rem;
  font-weight: $semibold;
  background-color: $color-green;
  border: none;
  text-transform: capitalize;
  color: $color-white;
  cursor: pointer;
}
