.section1 {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 191px 268px 268px 268px;
  background-color: $color-light-grey;
  font-family: $font-text;
  color: $color-green;
  align-items: center;
  text-align: center;

  &__title1 {
    font-size: 24px;
    &--mayus {
      text-transform: uppercase;
    }
  }
}

.article {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;

  &__div {
    width: 208px;
    display: flex;
    flex-direction: column;
    margin: 23px;

    &--title {
      font-size: 20px;
      margin: 6px;
    }
    &--text {
      font-size: 16px;
      margin: 6px;
    }
  }

  &__picture {
    width: 90px;
    height: 99px;
    margin: 23px;
  }
}

.section2 {
  background-color: $color-orange;
  font-family: $font-text;
  color: $color-green;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  &__title {
    font-size: 60px;
    margin: 100px 20px 50px 20px;
  }
  &__image {
    width: 120px;
    height: 120px;
  }
}
.section3 {
  background-color: $color-light-grey;
  font-family: $font-text;
  color: $color-green;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  &__title {
    font-size: 24px;
  }
}

.section3__image {
  width: 300px;
}
